<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Game Haven - Game Genres</title>
    <link rel="stylesheet" href="/styles.css">
</head>
<body>
    <header>
        <div class="container">
            <h1>Game Haven Admin</h1>
            <nav>
                <ul>
                    <li><a href="/index">Home</a></li>
                    <li><a href="/customers">Customers</a></li>
                    <li><a href="/orders">Orders</a></li>
                    <li><a href="/orderdetails">Order Details</a></li>
                    <li><a href="/games">Games</a></li>
                    <li><a href="/platforms">Platforms</a></li>
                    <li><a href="/genres">Genres</a></li>
                    <li><a href="/gameplatforms">Game Platforms</a></li>
                    <li><a href="/gamegenres">Game Genres</a></li>
                </ul>
            </nav>
        </div>
    </header>

    <section>
        <div class="container">
            <h2>Game Genre Data</h2>
            <table id="platformTable">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Game</th>
                        <th>Genre</th>
                    </tr>
                </thead>
                <tbody id="platformTableBody">
                    {{#each data}}
                    <tr>
                        <td align="middle">{{this.gameGenreId}}</td>
                        <td align="middle">{{this.gameTitle}}</td>
                        <td align="middle">{{this.genreName}}</td>
                    </tr>
                    {{/each}}
                </tbody>
            </table>
        </div>
    </section>

    <section class="inputTable">
        <div class="container">
            <h2>Add New Game Genres</h2>
            <form id="createGameGenresForm" method="POST" action="/createGameGenresForm">

                <div class="form-group">
                    <label for="gameId">Select Game ID:</label>
                    <select id="addGameId" name="addGameId">
                        {{#each games}}
                            <option value="{{this.gameId}}">{{this.gameTitle}}</option>
                        {{/each}}
                    </select>
                </div>

                <div class="form-group">
                    <label for="genreId">Select Genre ID:</label>
                    <select id="addGenreId" name="addGenreId">
                        {{#each genres}}
                            <option value="{{this.genreId}}">{{this.genreName}}</option>
                        {{/each}}
                    </select>
                </div>

                <button type="submit">Create</button>
            </form>
        </div>
    </section>

    <section class="inputTable">
        <div class="container">
            <h2>Update Game Genre</h2>
            <form id="update-game-genres-ajax" method="POST">
                <div class="form-group">
                    <label for="mySelect">Select Game Genres ID:</label>
                    <select id="mySelect" name="input-gameGenresID">
                        {{#each data}}
                            <option value="{{this.gameGenreId}}">{{this.gameGenreId}}</option>
                        {{/each}}
                    </select>
                </div>
                <button type="submit">Set Genre Null</button>
            </form>
        </div>
    </section>

    <footer>
        <div class="container">
            <p>&copy; 2024 Website Designed by Jason Lien, Timmy Le, Larry Nguyen</p>
        </div>
    </footer>

    <script src="updateGameGenres.js"></script>
</body>
</html>
