<!-- @format -->

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Game Haven - Order Details</title>
    <link rel="stylesheet" href="/styles.css" />
</head>

<body>
    <header>
        <div class="container">
            <h1>Game Haven Admin</h1>
            <nav>
                <ul>
                    <li><a href="/index">Home</a></li>
                    <li><a href="/customers">Customers</a></li>
                    <li><a href="/orders">Orders</a></li>
                    <li><a href="/orderdetails">Order Details</a></li>
                    <li><a href="/games">Games</a></li>
                    <li><a href="/platforms">Platforms</a></li>
                    <li><a href="/genres">Genres</a></li>
                    <li><a href="/gameplatforms">Game Platforms</a></li>
                    <li><a href="/gamegenres">Game Genres</a></li>
                </ul>
            </nav>
        </div>
    </header>

    <section>
        <div class="container">
            <h2>Order Details Data</h2>
            <table id="orderDetailsTable">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>First Name</th>
                        <th>Last Name</th>
                        <th>Order Date</th>
                        <th>Game Title</th>
                        <th>Quantity</th>
                    </tr>
                </thead>
                <tbody id="orderDetailsTableBody">
                    {{#each data}}
                    <tr data-value={{this.orderDetailId}}>
                        <td align="middle">{{this.orderDetailId}}</td>
                        <td align="middle">{{this.customerFirstName}}</td>
                        <td align="middle">{{this.customerLastName}}</td>
                        <td align="middle">{{this.orderDate}}</td>
                        <td align="middle">{{this.gameTitle}}</td>
                        <td align="middle">{{this.quantity}}</td>
                    </tr>
                    {{/each}}
                </tbody>
            </table>
        </div>
    </section>

    <section class="inputTable">
        <div class="container">
            <h2>Add New Order Details</h2>
            <form id="createOrderDetailsForm" method="POST" action="/createOrderDetailsForm">

                <div class="form-group">
                    <label for="orderId">Select Order ID:</label>
                    <select id="addOrderId" name="addOrderId">
                        {{#each orders}}
                            <option value="{{this.orderId}}" title="{{this.orderDate}}">
                                {{this.orderId}}: {{this.customerFirstName}} {{this.customerLastName}}
                            </option>
                        {{/each}}
                    </select>
                </div>

                <div class="form-group">
                    <label for="gameId">Select Game ID:</label>
                    <select id="addGameId" name="addGameId">
                        {{#each games}}
                            <option value="{{this.gameId}}">{{this.gameTitle}}</option>
                        {{/each}}
                    </select>
                </div>

                <div class="form-group">
                    <label for="addQuantityLabel">Quantity:</label>
                    <input type="number" id="addQuantity" name="addQuantity" required />
                </div>

                <button type="submit">Create</button>
            </form>
        </div>
    </section>

    <section class="inputTable">
        <div class="container">
            <h2>Update Order Details</h2>
            <form id="update-orderDetails-ajax" method="POST">
                <div class="form-group">
                    <label for="mySelect">Select Order Details ID:</label>
                    <select id="mySelect" name="input-orderDetailsID">
                        {{#each data}}
                        <option value="{{this.orderDetailId}}">{{this.orderDetailId}}</option>
                        {{/each}}
                    </select>
                </div>
                <div class="form-group">
                    <label for="input-quantity-update">Quantity:</label>
                    <input type="number" name="input-quantity" id="input-quantity-update" required/>
                </div>
                <button type="submit">Update</button>
            </form>
        </div>
    </section>

    <section class="inputTable">
        <div class="container">
            <h2>Delete Order Details</h2>
            <form id="deleteCustomersForm">
                <div class="form-group">
                    <label for="selectCustomer">Select Order Details ID:</label>
                    <select id="selectCustomer" name="selectCustomer">
                        {{#each data}}
                        <option value="{{this.orderDetailId}}">{{this.orderDetailId}}</option>
                        {{/each}}
                    </select>
                </div>
                <td><button id="delete-orderDetails-btn" type="button">Delete</button></td>
            </form>
        </div>
    </section>
    </form>

    <footer>
        <div class="container">
            <p>
                &copy; 2024 Website Designed by Jason Lien, Timmy Le, Larry Nguyen
            </p>
        </div>
    </footer>

    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <script src="app.js"></script>
    <script src="orderDetails.js"></script>
    <script src="updateOrderDetails.js"></script>

</body>

</html>